<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Room</title>
    
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link href="/app.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <header>
            <h2> &#128640; CodeChat &#128640; </h2>
            <a href="/logout" style="float: right;" type="button" class="btn">Logout</a>
        </header>
        
        <aside>
            <div class="online-user">
                <h1>Online Users</h1>
                <ul>
                    <li>Test Geeky</li>
                    <li>John Mccarthy</li>
                </ul>
            </div>
        </aside>
        
        <section>
            <div class="message-container"></div> 
        
            <form style="width: 100%; display: flex;" id="input-msg-form">
                <input type="text" id="messageInput" name="messageInput" class="form-control" placeholder="Write a message..." style="width: 665px; display: inline-block;">
        
                <button type="submit" id="myBtn" class="btn" >Send</button> 
            </form>
        </section>
    </div>
   
    <script src="/socket.io/socket.io.js"></script>
    
    <script>
        const socket = io();
        const form = document.getElementById('input-msg-form');
        const messageInput = document.getElementById('messageInput')
        const messageContainer = document.querySelector(".message-container")

        // Function which will append event info to the container
        const append = (message, position) => {
            const msgDiv = document.createElement('div');
            msgDiv.innerText = message;
            msgDiv.classList.add('message');
            msgDiv.classList.add(position);
            messageContainer.append(msgDiv);
        }

        // Upon login take the name of user
        const name = '<%= user.displayName %>';
        socket.emit('new-user-joined', name);

        // If a new user joins, receive the name from the data
        socket.on('user-joined', name => {
            append(`${name} joined the chat`, 'right')
        })

        // If server sends a message, receive it
        socket.on('receive', data =>{
            append(`${data.name}: ${data.message}`, 'left')
        })

        // If a user leaves the chat, add left chat message to div
        socket.on('left', name => {
            append(`${name} left the chat`, 'right')
        })

        // If the form gets submitted, send server the message
        form.addEventListener('submit', (e) => {
            e.preventDefault();
            const message = messageInput.value;
            append(`You: ${message}`, 'right');
            socket.emit('chat', message);
            messageInput.value = ''
        })
    </script>
</body>
</html>